In [24]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import us_states
import fancy_heatmap

In [25]:
state_dict = dict(map(reversed, us_states.abbrev_us_state.items()))

In [26]:
data_covid_raw = pd.read_csv('../data/covid_metrics_full_time.csv', index_col=0)

In [27]:
data_alex_raw = pd.read_csv('../data/sme.csv', index_col=0)

In [28]:
data_covid = data_covid_raw.copy()

In [29]:
data_mask_political = data_alex_raw.copy()

In [30]:
columns_lower = [i.lower() for i in data_mask_political.columns]
data_mask_political.columns = columns_lower

In [31]:
data_covid['state'] = data_covid['state'].map(state_dict)

In [32]:
data_mask_political.head()

,state,never,rarely,sometimes,frequently,always,mask_negative,mask_positive,votesdem,percd,votesrep,percr,electoraldem,electoralrep,pop,blue,red
0,AK,0.053429,0.064643,0.092821,0.326393,0.462571,0.118071,0.788964,116454,36.55,163387,51.28,0,3,734002,0,1
1,AL,0.081567,0.081090,0.146612,0.215343,0.475313,0.162657,0.690657,729547,34.36,1318255,62.08,0,9,4908620,0,1
2,AR,0.090920,0.087253,0.138360,0.220627,0.462867,0.178173,0.683493,380494,33.65,684872,60.57,0,6,3039000,0,1
3,AZ,0.049667,0.053200,0.094667,0.147333,0.655000,0.102867,0.802333,1161167,45.13,1252401,48.67,0,11,7378490,0,1
4,CA,0.032310,0.030724,0.063690,0.158603,0.714638,0.063034,0.873241,8753788,61.73,4483810,31.62,55,0,39937500,1,0

In [33]:
data_covid.head()

         date state  fips  cases  deaths
0  2020-01-21    WA    53      1       0
1  2020-01-22    WA    53      1       0
2  2020-01-23    WA    53      1       0
3  2020-01-24    IL    17      1       0
4  2020-01-24    WA    53      1       0

In [39]:
data_covid_mask_political = pd.merge(data_covid,data_mask_political, on='state')

In [40]:
data_covid_mask_political.head().T

                        0           1           2           3           4
date           2020-01-21  2020-01-22  2020-01-23  2020-01-24  2020-01-25
state                  WA          WA          WA          WA          WA
fips                   53          53          53          53          53
cases                   1           1           1           1           1
deaths                  0           0           0           0           0
never           0.0378974   0.0378974   0.0378974   0.0378974   0.0378974
rarely          0.0388718   0.0388718   0.0388718   0.0388718   0.0388718
sometimes       0.0706667   0.0706667   0.0706667   0.0706667   0.0706667
frequently        0.18241     0.18241     0.18241     0.18241     0.18241
always           0.669872    0.669872    0.669872    0.669872    0.669872
mask_negative   0.0767692   0.0767692   0.0767692   0.0767692   0.0767692
mask_positive    0.852282    0.852282    0.852282    0.852282    0.852282
votesdem          1742718     1742718     1742718     1742718     1742718
percd               52.54       52.54       52.54       52.54       52.54
votesrep          1221747     1221747     1221747     1221747     1221747
percr               36.83       36.83       36.83       36.83       36.83
electoraldem            8           8           8           8           8
electoralrep            0           0           0           0           0
pop               7797100     7797100     7797100     7797100     7797100
blue                    1           1           1           1           1
red                     0           0           0           0           0

In [41]:
data_covid_mask_political['percent pop affected'] = (data_covid_mask_political['cases'] + data_covid_mask_political['deaths']) / data_covid_mask_political['pop']

In [42]:
data_covid_mask_political.to_csv('covid_mask_political_combined.csv')